@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
$font-family_1: 'Poppins',sans-serif;
$font-family_2: 'Roboto:wght@300', sans-serif;
$font-family_3: 'Tilt Prism', cursive;
$font-family_4:'Source Sans Pro', sans-serif;
$color_titulo:#1b325f;
$color_titulo2:#f26c4f;
$color_copy: rgb(189, 185, 185);
$color_transparente:rgba(58, 54, 54, 0.3);
$color_transparente2:rgba(225, 220, 220, 0.697);
$color_transparente3:rgba(250, 250, 250, 0.384);